[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
rope = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"

[packages]
farmos = "*"
colorama = "*"
prompt-toolkit = "*"
pygments = "*"
click = "*"
fuzzyfinder = "*"
pypandoc = "*"

[requires]
python_version = "3.7"
